@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
body{ 

    background: url(/img/super-moto-moto-vermelho-preto-colorido-imagem-gerada-por-ai_866548-1506.avif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    
}

nav{ 
    max-width: 1200px;
    margin: auto;
    padding: 1,5rem; 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    gap: 100px;
    
  
    
}
  
a {
    text-decoration: none;


}
ul {
    list-style: none;

}
.LOGO{

     margin-top: 20px;
    font-family: TEKO;
    font-size: 3rem;
    text-transform: uppercase;
    color:red
    
}  
.menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: rgba(238, 231, 231, 0.575);
    font-size: 1,5rem;
    border: 25px;
    margin-top: 15px;
    
 

}

.home:hover{

    transition: 3ms;
    color: white;
    
}

.cont:hover{

    transition: 3ms;
    color: white;
}

.ag:hover{

    transition: 0,6ms;
    color: white;
}

.serv:hover{

    transition: 3ms;
    color: white;
}

.pc:hover{

    transition: 3ms;
    color: white;
}

.ace:hover{

    transition: 3ms;
    color: white;
}

.loca:hover{

    transition: 3ms;
    color: white;


}
.caixa{

    border: solid 1px;
    border-radius: 10px;
    padding: 60px;
    color: white;
    width: 300px;
    margin: 400px; 
    margin-left: 800px;
    align-items: center;
    background-color: rgba(207, 40, 40, 0.212);

    

}
.login{
    margin-left: 40px;
}
.email{
    padding: 5px;
    border-radius: 8px;
    border: none;
}
.senha{
    padding: 5px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;

}
.submit{
    padding: 5px;
    border-radius: 8px;
    border: none;
    

}
#social-link{

    color: white;
    display: flex;
    font-size: 20px;
    gap: 15px;
    margin-top: 20px;
    padding-left: 12px;
   
    
  
   
}.git:hover{
    color: rgba(238, 231, 231, 0.575);
    cursor: pointer;
    transition: 2ms;
    
}.inst:hover{
    color: rgba(238, 231, 231, 0.575);
    cursor: pointer;
    transition: 2ms;
}.you:hover{
    color: rgba(238, 231, 231, 0.575);
    cursor: pointer;
    transition: 2ms;
}.link:hover{
    color: rgba(238, 231, 231, 0.575);
    cursor: pointer;
    transition: 2ms;

}



    


   
  
    
    
   

 



 



    


    





    
